body {
    background-color: black;
    color: aquamarine;
    font-family: blanchedalmond;
    margin: aquamarine;
}

h1 {
    color: aqua;
    font-size: 40px;
}

p {
    font-size: 25px;
}

header {
    border-bottom: solid 3ex;
    margin:2xp;
    padding: 10xp;
    color: (red green blue)
}

chamada {
    background:
        padding
}

































img {
    height: 200px;
}

.categoria video {
    display: flex;
    overflow-x: auto;
    gap: 15px;

}

.categoria {
    padding-left: 20px;
    padding-right: 20px;
}